{% extends 'davidproject/index.html' %}
{% load praylog_extras %}
{% block content %}
<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">기도 일지</h4>
        </div>
    </div>
    <div class="col-md-12">
        <div class="page-header-toolbar">
            <div class="btn-group toolbar-item" role="group" aria-label="Basic example">
                <a href="{% url 'praylog_list' %}"><button type="button" class="btn btn-secondary"><i class="mdi mdi-format-list-bulleted"></i></button></a>
                &nbsp;
                <a href="{% url 'praylog_detail' target_date=praylog.date|yesterday|date:'yy-m-d' %}"><button type="button" class="btn btn-secondary"><i class="mdi mdi-chevron-left"></i></button></a>
                <button type="button" class="btn btn-secondary">{{ praylog.date|date:"yy-m-d" }}</button>
                <a href="{% url 'praylog_detail' target_date=praylog.date|tomorrow|date:'yy-m-d' %}"><button type="button" class="btn btn-secondary"><i class="mdi mdi-chevron-right"></i></button></a>
                &nbsp;
                <a href="{% url 'praylog_detail' target_date=today|date:'yy-m-d' %}"><button type="button" class="btn btn-primary"><i class="mdi"></i>Today<i class="mdi"></i></button></a>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <!--<h4 class="card-title mb-0 font-weight-semibold">한국어</h4>-->
                <div class="d-flex flex-column flex-lg-row">
                    <form>
                        <div class="form-group row">
                            <div class="col-xs-1">
                                <label for="goal_hr">목표시간</label>
                                <input class="form-control" id="goal_hr" type="text">
                            </div>
                            <div class="col-xs-1">
                                <label for="pray_hr">기도시간</label>
                                <input class="form-control" id="pray_hr" type="text">
                            </div>                            
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>목표시간</th>
                                    <th>기도시간</th>
                                    <th>달성률</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control col-xs-1">
                                        <input type="text" class="form-control col-xs-1">
                                        {{ praylog.start_goal }} ~ {{ praylog.end_goal }}
                                    </td>
                                    <td>{{ praylog.start }} ~ {{ praylog.end }}</td>
                                    <td>10%</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

